<a href="https://colab.research.google.com/github/Viveksapkale22/saiket_intenship_task-s/blob/main/Saiket_system_intenship_Task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data science Inenship Work .

**Project Name**: Customer Churn Analysis and Prediction

The project aims to analyze customer churn in a
telecommunications company and develop
predictive models to identify at-risk customers. The
ultimate goal is to provide actionable insights and
recommendations to reduce churn and improve
customer retention.

### Task 3: Customer Segmentation

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Sem-8 work/Intenship_Work/saiket_intenship_selected_1monthvirtualinten/cleaned_churn_data.csv')

df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1.0,0,1,29.85,29.85,0,...,False,False,False,False,False,False,False,False,True,False
1,1,0,0,0,34.0,1,0,56.95,1889.50,0,...,False,False,False,False,False,True,False,False,False,True
2,1,0,0,0,2.0,1,1,53.85,108.15,1,...,False,False,False,False,False,False,False,False,False,True
3,1,0,0,0,45.0,0,0,42.30,1840.75,0,...,True,False,False,False,False,True,False,False,False,False
4,0,0,0,0,2.0,1,1,70.70,151.65,1,...,False,False,False,False,False,False,False,False,True,False

STEP 1. Segmentation Techniques

In [ ]:
df['Tenure_Segment'] = pd.cut(
    df['tenure'],
    bins=[0, 12, 36, 72],
    labels=['New (0–1 yr)', 'Medium (1–3 yrs)', 'Long (3+ yrs)']
)

In [ ]:
df['Charge_Segment'] = pd.qcut(
    df['MonthlyCharges'],
    q=3,
    labels=['Low', 'Medium', 'High']
)

In [ ]:
df['Contract_Type'] = 'Month-to-month'
df.loc[df['Contract_One year'] == 1, 'Contract_Type'] = 'One year'
df.loc[df['Contract_Two year'] == 1, 'Contract_Type'] = 'Two year'

In [ ]:
segment_table = df.groupby(
    ['Tenure_Segment', 'Charge_Segment', 'Contract_Type']
).size().reset_index(name='Customer_Count')

segment_table.head(10)

/tmp/ipython-input-3319865744.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  segment_table = df.groupby(

     Tenure_Segment Charge_Segment   Contract_Type  Customer_Count
0      New (0–1 yr)            Low  Month-to-month             800
1      New (0–1 yr)            Low        One year              92
2      New (0–1 yr)            Low        Two year              51
3      New (0–1 yr)         Medium  Month-to-month             826
4      New (0–1 yr)         Medium        One year              24
5      New (0–1 yr)         Medium        Two year               7
6      New (0–1 yr)           High  Month-to-month             368
7      New (0–1 yr)           High        One year               7
8      New (0–1 yr)           High        Two year               0
9  Medium (1–3 yrs)            Low  Month-to-month             273

Step 2. Understanding Customer Behavior

3.1 Churn Rate by Tenure Segment

In [ ]:
tenure_behavior = df.groupby('Tenure_Segment').agg(
    Total_Customers=('Churn', 'count'),
    Churned_Customers=('Churn', 'sum'),
    Churn_Rate=('Churn', 'mean')
).reset_index()

tenure_behavior['Churn_Rate'] *= 100
tenure_behavior

/tmp/ipython-input-2388054781.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tenure_behavior = df.groupby('Tenure_Segment').agg(

     Tenure_Segment  Total_Customers  Churned_Customers  Churn_Rate
0      New (0–1 yr)             2175               1037   47.678161
1  Medium (1–3 yrs)             1856                474   25.538793
2     Long (3+ yrs)             3001                358   11.929357

3.2 Churn Rate by Charge Segment

In [ ]:
charge_behavior = df.groupby('Charge_Segment').agg(
    Total_Customers=('Churn', 'count'),
    Churned_Customers=('Churn', 'sum'),
    Churn_Rate=('Churn', 'mean')
).reset_index()

charge_behavior['Churn_Rate'] *= 100
charge_behavior

/tmp/ipython-input-3780529555.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  charge_behavior = df.groupby('Charge_Segment').agg(

  Charge_Segment  Total_Customers  Churned_Customers  Churn_Rate
0            Low             2345                373   15.906183
1         Medium             2345                698   29.765458
2           High             2342                798   34.073442

3.3 Churn Rate by Contract Type

In [ ]:
contract_behavior = df.groupby('Contract_Type').agg(
    Total_Customers=('Churn', 'count'),
    Churned_Customers=('Churn', 'sum'),
    Churn_Rate=('Churn', 'mean')
).reset_index()

contract_behavior['Churn_Rate'] *= 100
contract_behavior

    Contract_Type  Total_Customers  Churned_Customers  Churn_Rate
0  Month-to-month             3875               1655   42.709677
1        One year             1472                166   11.277174
2        Two year             1685                 48    2.848665

Step 3. Churn Analysis Within Combined Segments

In [ ]:
segment_churn = df.groupby(
    ['Tenure_Segment', 'Charge_Segment', 'Contract_Type']
).agg(
    Customers=('Churn', 'count'),
    Churn_Rate=('Churn', 'mean')
).reset_index()

segment_churn['Churn_Rate'] *= 100
segment_churn.sort_values('Churn_Rate', ascending=False).head(10)

/tmp/ipython-input-2740834213.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  segment_churn = df.groupby(

      Tenure_Segment Charge_Segment   Contract_Type  Customers  Churn_Rate
6       New (0–1 yr)           High  Month-to-month        368   74.728261
3       New (0–1 yr)         Medium  Month-to-month        826   55.932203
15  Medium (1–3 yrs)           High  Month-to-month        501   49.700599
0       New (0–1 yr)            Low  Month-to-month        800   35.875000
24     Long (3+ yrs)           High  Month-to-month        392   35.459184
12  Medium (1–3 yrs)         Medium  Month-to-month        449   31.848552
7       New (0–1 yr)           High        One year          7   28.571429
16  Medium (1–3 yrs)           High        One year         74   24.324324
21     Long (3+ yrs)         Medium  Month-to-month        182   21.978022
25     Long (3+ yrs)           High        One year        437   19.221968

Step 4. Identifying High-Value Customers

In [ ]:
high_value_customers = df[
    (df['Charge_Segment'] == 'High') &
    (df['Tenure_Segment'] == 'Long (3+ yrs)')
]


high_value_summary = high_value_customers.groupby('Contract_Type').agg(
    Customers=('Churn', 'count'),
    Churn_Rate=('Churn', 'mean')
).reset_index()

high_value_summary['Churn_Rate'] *= 100
high_value_summary

    Contract_Type  Customers  Churn_Rate
0  Month-to-month        392   35.459184
1        One year        437   19.221968
2        Two year        549    5.646630

Step 5. Identifying High-Value but At-Risk Customers


conclusions: this table and the Churn Analysis Within Combined Segments help me to know that the High-value customers on month-to-month contracts exhibit extremely high churn during the early stages of their lifecycle. New customers show a churn rate of nearly 75%, while medium-tenure customers churn at approximately 50%. Interestingly, long-tenure customers are absent from this high-risk segment, indicating that tenure significantly reduces churn risk. This suggests that early-stage intervention is critical for retaining high-revenue customers.

In [ ]:
high_risk_high_value = df[
    (df['Charge_Segment'] == 'High') &
    (df['Tenure_Segment'] != 'Long (3+ yrs)') &
    (df['Contract_Type'] == 'Month-to-month')
]

high_risk_summary = high_risk_high_value.groupby('Tenure_Segment').agg(
    Customers=('Churn', 'count'),
    Churn_Rate=('Churn', 'mean')
).reset_index()

high_risk_summary['Churn_Rate'] *= 100
high_risk_summary

/tmp/ipython-input-1596707398.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  high_risk_summary = high_risk_high_value.groupby('Tenure_Segment').agg(

     Tenure_Segment  Customers  Churn_Rate
0      New (0–1 yr)        368   74.728261
1  Medium (1–3 yrs)        501   49.700599
2     Long (3+ yrs)          0         NaN

also , high tenure customer and yearly contracts type => high value customer and loyal

also, low ternure customer and charge high and new customers => risky customers